body {
  background-color: black;
}
.primary-font {
  font-family: "Open Sans", sans-serif;
  color: white;
}
.secondary-font {
  font-family: "DM Serif Display", serif;
  font-style:regular;
  color: white;
}

.home-page-header {
  text-align: center;
  font-size: 35px;
}

.teacher-icon-and-text {
  padding-left: 200px;
  text-align: center;
}
.student-icon-and-text {
  padding-right: 200px;
  text-align: center;
}
.home-page-icons {
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1500;
}
.student-icon-and-text img {
  height: 250px;
  width: 250px;
  
}
.teacher-icon-and-text img {
  height: 250px;
  width: 250px;
  padding-bottom: 18px;
  float: left;
}

.home-page-footer p {
  font-size: 35px;
}
.home-page-footer a {
  text-decoration: none;
}
.home-page-footer {
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 9%;
}
