.login-page-sub-heading p{
    text-align: center;
    font-size: 25px;
    margin-top: 2rem;
    font-weight: bold;
    
}
.login-page-sub-heading a{
    text-decoration: none
}
.login-page-heading{
    text-align: center;
    font-size: 30px;
    font-style: regular;
}
.login-page-text-content h2{
    font-weight: 500;
    text-align: center;
    font-size:30px;
    margin-top: 9rem;
}

.input-select-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-number-text-box input[type=text]{
    width: 250px;
    height: 35px;
    border-radius: 5px;
    outline:none
}
.std-code-dropdown select{
    width: 60px;
    height:40px;
    border-radius: 5px;
}
.std-code-dropdown {
    padding-right: 4px;
}

.send-otp-btn button{
   height:60px;
   width:60px;
   border-radius:50px
}

.send-otp-btn img{
    height:60px;
    width: 60px;
}

.login-page-go-btn{
    padding-left: 3rem;
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
}
optgroup{
    font-size: 20px;
    font-weight: bold;
}