.main-container {
  font-family: "poppins", sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top:15rem
}
.continue-with-otp-container {
  display: flex;

}
.continue-with-otp-container a {
  display: flex;
  margin-left: 33rem;
  text-decoration: none;
  color: white;
  font-family: "poppins", sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 45px;
  
}
.continue-with-password-container {
  display: flex;
  padding-top: 70px;
}
.continue-with-password-container a {
  display: flex;
  margin-left: 33rem;
  text-decoration: none;
  color: white;
  font-family: "poppins", sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 45px;
}
.continue-with-otp-container.mobile-img {
  margin-top: 7rem;
}
.continue-with-password-container.password-img {
  margin-top: 7rem;
}

.or-text {
  text-align: center;
  font-size: 31px;
  color: white;
  margin-top: 6rem;
}
