.enter-otp-text{
    color: white;
    font-family: 'poppins',sans-serif;  
    font-size: 47px;
    font-weight: regular;
}
.otp-send-text{
    color: white;
    font-size: 15px;
    margin-bottom: 5rem;
}

.otp-page-content{
    text-align:center;
    margin-top: 15rem;
    padding: 0;
}
.otp-box input[type='text'] {
    width: 12rem;
    height: 30px;
    border-radius: 20px;
    margin-left: 20rem;
    border:none;
}

.resend-otp-btn button{
    background-color:transparent;
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-left: 23rem;
    margin-top: 1rem;
    visibility:hidden;
}
.incorrect-otp-text h2{
    text-align:center;
    color:red;
    font-size:19px;
    visibility:hidden;

}